/* ================= GLOBAL STIL ================= */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #ebecef;
    color: #1F2A2F;
    margin: 0;
    line-height: 1.6;
} 

/* ================= SEKSJONER ================= */
section {
    background-color: #ECEBEF;
    padding: 40px 0;
}
/* ================= HERO-SEKSJON ================= */
.hero {
    padding: 100px 0;  /* Øker luft rundt Hero-seksjonen */
    text-align: center;
    background-color: #ebecef; /* Juster bakgrunnsfargen om ønskelig */
}

.hero h1 {
    margin-top: 50px; /* Øker avstanden fra toppen av seksjonen */
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 20px; /* Øker avstanden mellom overskriften og beskrivelsen */
    color: #1F2A2F; /* Mørk farge for overskriften */
}

.hero p {
    font-size: 1.25rem; /* Juster fontstørrelse for beskrivelsen */
    font-weight: 300; /* Tynnere tekst for mer luft */
    color: #555; /* Lysere farge for beskrivelsen */
}

/* ================= BILDER ================= */
img.rounded-circle {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* ================= NAVIGASJON ================= */
.navbar {
    background-color: #DEDFE5; /* Endre bakgrunnsfargen til ønsket farge */
    
    top: 0;
    z-index: 1020;
}

.navbar-brand {
    font-weight: 300;
    color: #DEDFE5;
}

.navbar-nav .nav-link {
    color: #DEDFE5;
    font-weight: 300;
}

.navbar-nav .nav-link:hover {
    color: #ECEBEF;
}

.nav-link:hover {
    color: #DEDFE5;
    text-decoration: underline;
}

/* ================= INFO-BOKSER ================= */

.card {
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    text-decoration: none; 
    color: inherit; 
}

.card:hover {
    background-color: #1F2A2F;
    color: #1F2A2F; 
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transform: scale(1.05); 
}

.card h5 {
    transition: color 0.3s ease;
}

.card:hover h5 {
    color: #ECEBEF; 
}

.card i {
    transition: color 0.3s ease;
}

.card:hover i {
    color: #ECEBEF; 
}
.card-link {
    text-decoration: none; 
    color: inherit; 
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    display: chrome;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* ================= KARUSELL ================= */
.carousel-caption {
    color: #1F2A2F;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

/* ================= PROFILBILDE-SEKSJON ================= */
.profile-container, .profile-container-index {
    width: 220px;
    height: 220px;
    background-color: #1F2A2F;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.profile-container img, .profile-container-index img {
    width: 180px;
    height: 180px;
    object-fit: cover;
}

/* ================= FOOTER ================= */
footer {
    background-color: #1F2A2F;
    color: #ECEBEF;
    text-align: center;
    padding: 15px 0;
}

footer p {
    margin: 0;
}

h5 {
    font-weight: 300;
    color: #ffffff;
}
.footer-icons i {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}

.footer-icons a {
    text-decoration: none !important;
}


/* ================= RESPONSIV DESIGN ================= */
@media (max-width: 992px) {
    .card {
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .carousel-inner img {
        height: 300px;
        object-fit: cover;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .carousel-inner img {
        height: 400px;
        object-fit: cover;
    }
}

@media (min-width: 1200px) {
    .carousel-inner img {
        height: 500px;
        object-fit: cover;
    }
}